body{
  text-align: center;
  color: black;
  font-family: Montserrat ;
}

.span-class
{
  text-decoration: underline;
}

.p1
{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 15px
}
.p2
{
  margin-top: 0px;
}